<puibe-toast variant="error" [closeable]="true" class="my-4 block" (dismissed)="close()">
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
    </div>
    <a puibeToastAction href="/">zur Startseite</a>
</puibe-toast>

<puibe-toast variant="default" [closeable]="false" class="my-4 block">
    <p class="text-h4">Some Error occured...</p>
    <div *ngIf="visible">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
        <p>elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <a puibeToastAction href="/">zur Startseite</a>
    <button puibeToastAction (click)="toggleDetails()">Weitere Details...</button>
</puibe-toast>

<puibe-toast [closeable]="true" class="my-4 block">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
    </p>
    <a puibeToastAction>
        <span class="flex items-center"><puibe-icon-login class="w-5 pr-1"></puibe-icon-login>Login</span>
    </a>
</puibe-toast>

<puibe-toast variant="success" [closeable]="true" class="my-4 block">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
    </p>
</puibe-toast>
