<div class="mx-auto w-3/4">
  <h2 class="my-6">Table with Infinite Scroll</h2>

  <pui-table [tableViewSource]="tableSource" class="w-full" [showBusyAnimation]="false">
    <pui-table-column [fieldName]="tableSource.columns.id"></pui-table-column>
    <pui-table-column
      [fieldName]="tableSource.columns.name"
      [sortable]="true"
      class="w-full"
    ></pui-table-column>
    <pui-table-column
      [fieldName]="tableSource.columns.created"
      [sortable]="true"
      class="min-w-32"
    ></pui-table-column>
    <pui-table-column>Actions</pui-table-column>

    @for (item of tableSource.pageData$ | async; track item) {
      <pui-table-row puiTableRowActionTrigger>
        <pui-table-cell>{{ item.id }}</pui-table-cell>
        <pui-table-cell [hoverEmphasis]="true">{{ item.name }}</pui-table-cell>
        <pui-table-cell>{{ item.created | date }}</pui-table-cell>
        <pui-table-cell></pui-table-cell>
      </pui-table-row>
    }

    <pui-table-footer>
      <pui-table-pagination-infinite-scroll [pageSize]="10"></pui-table-pagination-infinite-scroll>
    </pui-table-footer>
  </pui-table>
</div>
