@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url('assets/fonts/roboto-v20-latin-100.woff2') format('woff2'),
        url('assets/fonts/roboto-v20-latin-100.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('assets/fonts/roboto-v20-latin-300.woff2') format('woff2'),
        url('assets/fonts/roboto-v20-latin-300.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('assets/fonts/roboto-v20-latin-300italic.woff2') format('woff2'),
        url('assets/fonts/roboto-v20-latin-300italic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        url('assets/fonts/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('assets/fonts/roboto-v20-latin-500.woff2') format('woff2'),
        url('assets/fonts/roboto-v20-latin-500.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('assets/fonts/roboto-v20-latin-700.woff2') format('woff2'),
        url('assets/fonts/roboto-v20-latin-700.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';
