<div class="container mx-auto">
    <div class="flex gap-2">
        <button
            puibeButton
            [clickCommand]="saveCommand"
            [commandOptions]="{ statusCategory: 'action-save' }"
            variant="primary"
        >
            Save
        </button>
        <button
            puibeButton
            [clickCommand]="saveCommand"
            [commandArgs]="{ navigateBackToList: true }"
            [commandOptions]="{ statusCategory: 'action-save' }"
        >
            Save and close
        </button>

        <button puibeButton (click)="logFormFields()">Log all values</button>
    </div>
    <puibe-inpage-search
        class="max-w-3/4 mt-4 block"
        (searchTermChange)="search()"
        [pending]="searchPending$ | async"
        [label]="'Seite durchsuchen'"
    ></puibe-inpage-search>
    <button puibeButton (click)="toggleReadonly()" class="my-2">Toggle ReadOnly</button>
    <form [formGroup]="mainForm" puibeForm [enableDirtyFormNavigationGuard]="true" [puibeReadonly]="readonly">
        <puibe-checkbox-group legend="Checkboxes" [displayInline]="false" class="w-1/2">
            <puibe-checkbox label="Checkbox 1" formControlName="basic1"></puibe-checkbox>
            <puibe-checkbox label="Checkbox 2" formControlName="basic2"></puibe-checkbox>
            <puibe-checkbox label="Checkbox 3" formControlName="basic3"></puibe-checkbox>
        </puibe-checkbox-group>
        <div>
            <puibe-checkbox label="Checkbox" formControlName="basic4"></puibe-checkbox>
        </div>
        <div>
            <puibe-checkbox
                [puibeReadonly]="false"
                label="Always Active Checkbox"
                formControlName="basic5"
            ></puibe-checkbox>
        </div>
        <puibe-radio-button-group legend="Radio Buttons" formControlName="radio" class="w-1/2">
            <puibe-radio-button value="1" label="Option 1"></puibe-radio-button>
            <puibe-radio-button value="2" label="Option 2"></puibe-radio-button>
            <puibe-radio-button value="3" label="Option 3"></puibe-radio-button>
        </puibe-radio-button-group>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Basic Text-Input</label>
            <input puibeInput type="text" placeholder="Basic Text-Input" formControlName="basicText"/>
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Basic Text-Input with notice</label>
            <input puibeInput type="text" placeholder="Basic Text-Input" formControlName="basicTextWithNotice"/>
            <p puibeNotice>Hinweis-Text zu diesem Input</p>
        </puibe-form-field>
        <puibe-form-field class="w-1/4">
            <label puibeLabel>Basic Number-Input</label>
            <input puibeInput type="number" placeholder="Basic Number-Input" formControlName="basicNumber"/>
        </puibe-form-field>
        <puibe-form-field class="w-1/4">
            <label puibeLabel>Basic Date-Input</label>
            <input puibeInput type="date" placeholder="Basic Date-Input" formControlName="basicDate"/>
        </puibe-form-field>
        <puibe-form-field class="w-1/4">
            <label puibeLabel>Birthdate-Input</label>
            <input puibeInput type="date" calendarViewMode="year" formControlName="birthDate"/>
        </puibe-form-field>
        <puibe-form-field class="w-1/4">
            <label puibeLabel>Month-Input</label>
            <input puibeInput type="month" formControlName="monthDate"/>
        </puibe-form-field>
        <puibe-form-field class="w-1/4">
            <label puibeLabel>Year-Input</label>
            <input puibeInput type="year" formControlName="year"/>
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Basic Combobox</label>
            <ng-select
                puibeInput
                [items]="foods"
                bindLabel="name"
                bindValue="id"
                formControlName="basicCombobox"
                placeholder="Basic Combobox"
                [multiple]="true"
            >
                <ng-template ng-option-tmp let-item="item">
                    <puibe-select-option [item]="item" bindMetadata="category" bindLabel="name"></puibe-select-option>
                </ng-template>
            </ng-select>
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Required Combobox</label>
            <ng-select
                puibeInput
                [items]="foods"
                bindLabel="name"
                bindValue="id"
                formControlName="requiredCombobox"
                placeholder="Required Combobox"
            ></ng-select>
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Async Combobox</label>
            <ng-select
                puibeInput
                [puibeSelectViewSource]="foodSource"
                formControlName="asyncCombobox"
                placeholder="Async Combobox"
            ></ng-select>
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Non Searchable Combobox</label>
            <ng-select
                puibeInput
                [puibeSelectViewSource]="foodSource"
                formControlName="nonSearchableCombobox"
                placeholder="Non Searchable Combobox"
                [searchable]="false"
            ></ng-select>
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Required Text-Input</label>
            <input puibeInput type="text" placeholder="Required Text-Input" formControlName="requiredText"/>
        </puibe-form-field>
        <puibe-form-field class="w-1/4">
            <label puibeLabel>Required Number-Input</label>
            <input puibeInput type="number" placeholder="Required Number-Input" formControlName="requiredNumber"/>
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel [alwaysVisible]="true">Input with always visible label</label>
            <input
                puibeInput
                type="text"
                placeholder="E.g. Pizza, Hamburger, ..."
                formControlName="inputWithPlaceholder"
            />
        </puibe-form-field>
        <puibe-form-field [hideOptional]="true" class="w-1/2">
            <label puibeLabel>Input with hidden optional label</label>
            <input
                puibeInput
                type="text"
                placeholder="Optional, but you can't see that it is optional"
                formControlName="inputWithHiddenOptionalLabel"
            />
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Required input with initial value</label>
            <input
                puibeInput
                type="text"
                placeholder="Required input with initial value"
                formControlName="requiredInputWithInitialValue"
            />
        </puibe-form-field>
        <puibe-form-field class="w-1/4">
            <label puibeLabel>Validator with parameter</label>
            <input
                puibeInput
                type="number"
                placeholder="Validator with parameter"
                formControlName="validatorWithParameter"
            />
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Async Validator</label>
            <input puibeInput type="text" placeholder="Async Validator" formControlName="asyncValidator"/>
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Disabled</label>
            <input puibeInput type="text" placeholder="Disabled" formControlName="disabled"/>
        </puibe-form-field>

        <puibe-form-field class="w-1/2">
            <label puibeLabel>Basic Text-Input with custom id</label>
            <input
                puibeInput
                id="ownid"
                type="text"
                placeholder="Basic Text-Input with custom id"
                formControlName="basicTextWithCustomId"
            />
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>SV Nummer</label>
            <input
                puibeInput
                type="text"
                placeholder="SV Nummer"
                formControlName="svnumber"
                [valueFormatter]="svNrFormatter"
            />
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel [alwaysVisible]="true">Basic file input</label>
            <input puibeInput type="file" formControlName="file"/>
        </puibe-form-field>
        <puibe-form-field class="w-1/2">
            <label puibeLabel>Required file input</label>
            <input puibeInput type="file" formControlName="requiredFile"/>
        </puibe-form-field>
    </form>

    <puibe-form-field class="w-1/4">
        <label puibeLabel>Using NgModel</label>
        <input puibeInput type="number" placeholder="Using NgModel" [(ngModel)]="myCoolModel"/>
    </puibe-form-field>
</div>
