<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a routerLink="/practices-ui-clarity-samples/datagrid" routerLinkActive="active" class="nav-link"
                >Datagrid</a
            >
        </li>
        <li class="nav-item">
            <a routerLink="/practices-ui-clarity-samples/datepicker" routerLinkActive="active" class="nav-link"
                >Datepicker</a
            >
        </li>
        <li class="nav-item">
            <a routerLink="/practices-ui-clarity-samples/dialog" routerLinkActive="active" class="nav-link">Dialog</a>
        </li>
    </ul>
</nav>
