<div class="container mx-auto">
    <form [formGroup]="mainForm">
        <pui-radio-button-group legend="Radio Buttons" formControlName="basic" class="w-1/2">
            <pui-radio-button value="1" label="Option 1"></pui-radio-button>
            <pui-radio-button value="2" label="Option 2"></pui-radio-button>
            <pui-radio-button value="3" label="Option 3"></pui-radio-button>
            <pui-radio-button value="4" label="Option 4"></pui-radio-button>
            <pui-radio-button value="5" label="Option 5"></pui-radio-button>
            <pui-radio-button value="6" label="Option 6"></pui-radio-button>
        </pui-radio-button-group>
    </form>
</div>

<div class="container mx-auto mt-5">
    <form [formGroup]="mainForm">
        <pui-radio-button-group
            legend="Radio Buttons"
            hint="Optionaler Hinweistext!"
            [displayInline]="true"
            formControlName="basicWithHint"
            class="w-1/2"
        >
            <pui-radio-button value="1" label="Option 1"></pui-radio-button>
            <pui-radio-button value="2" label="Option 2"></pui-radio-button>
            <pui-radio-button value="3" label="Option 3"></pui-radio-button>
            <pui-radio-button value="4" label="Option 4"></pui-radio-button>
            <pui-radio-button value="5" label="Option 5"></pui-radio-button>
            <pui-radio-button value="6" label="Option 6"></pui-radio-button>
        </pui-radio-button-group>
    </form>
</div>

<div class="container mx-auto mt-5">
    <form [formGroup]="mainForm">
        <pui-radio-button-group
            legend="Radio Buttons"
            hint="Optionaler Hinweistext!"
            [displayInline]="false"
            formControlName="required"
            class="w-1/2"
        >
            <pui-radio-button value="1" label="Option 1"></pui-radio-button>
            <pui-radio-button value="2" label="Option 2"></pui-radio-button>
            <pui-radio-button value="3" label="Option 3"></pui-radio-button>
            <pui-radio-button value="4" label="Option 4"></pui-radio-button>
            <pui-radio-button value="5" label="Option 5"></pui-radio-button>
            <pui-radio-button value="6" label="Option 6"></pui-radio-button>
        </pui-radio-button-group>
    </form>
</div>

<div class="container mx-auto mt-5">
    <form [formGroup]="mainForm">
        <pui-radio-button-group
            legend="Radio Buttons"
            hint="Optionaler Hinweistext!"
            [displayInline]="false"
            formControlName="requiredInputWithInitialValue"
            class="w-1/2"
        >
            <pui-radio-button value="1" label="Option 1"></pui-radio-button>
            <pui-radio-button value="2" label="Option 2"></pui-radio-button>
            <pui-radio-button value="3" label="Option 3"></pui-radio-button>
            <pui-radio-button value="4" label="Option 4"></pui-radio-button>
            <pui-radio-button value="5" label="Option 5"></pui-radio-button>
            <pui-radio-button value="6" label="Option 6"></pui-radio-button>
        </pui-radio-button-group>
    </form>
</div>

<div class="container mx-auto mt-5">
    <form [formGroup]="mainForm">
        <pui-radio-button-group
            legend="Radio Buttons"
            hint="Optionaler Hinweistext!"
            [displayInline]="false"
            formControlName="asyncValidator"
            class="w-1/2"
        >
            <pui-radio-button value="1" label="Option 1"></pui-radio-button>
            <pui-radio-button value="2" label="Option 2"></pui-radio-button>
            <pui-radio-button value="3" label="Option 3"></pui-radio-button>
            <pui-radio-button value="4" label="Option 4"></pui-radio-button>
            <pui-radio-button value="5" label="Option 5"></pui-radio-button>
            <pui-radio-button value="6" label="Option 6"></pui-radio-button>
        </pui-radio-button-group>
    </form>
</div>

<div class="container mx-auto mt-5">
    <form [formGroup]="mainForm">
        <pui-radio-button-group
            legend="Radio Buttons"
            hint="Optionaler Hinweistext!"
            [displayInline]="false"
            formControlName="disabled"
            class="w-1/2"
        >
            <pui-radio-button value="1" label="Option 1"></pui-radio-button>
            <pui-radio-button value="2" label="Option 2"></pui-radio-button>
            <pui-radio-button value="3" label="Option 3"></pui-radio-button>
            <pui-radio-button value="4" label="Option 4"></pui-radio-button>
            <pui-radio-button value="5" label="Option 5"></pui-radio-button>
            <pui-radio-button value="6" label="Option 6"></pui-radio-button>
        </pui-radio-button-group>
    </form>
</div>
