<button class="btn btn-primary" (click)="register3SecondQuery()">3 second query</button>
<br />
<button class="btn btn-primary" (click)="registerClientUnsubscribingQuery()">Query with client unsubscribing</button>
<br />
<button class="btn btn-primary btn-danger" (click)="registerQueryWithError()">Query with error</button>
<br /><br />
<button class="btn btn-primary btn-success" (click)="registerActionWithDefaultSuccessMessage()">
    Action with default success message
</button>
<br />
<button class="btn btn-primary btn-success" (click)="registerActionWithCustomSuccessMessage()">
    Action with custom success message
</button>
<br />
<button class="btn btn-primary btn-danger" (click)="registerActionWithDefaultErrorMessage()">
    Action with default error message
</button>
<br />
<button class="btn btn-primary btn-danger" (click)="registerActionWithCustomErrorMessage()">
    Action with custom error message
</button>
