name: Build Template
on:
  workflow_call:
    inputs: {}
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-dotnet@v4
        with:
          global-json-file: dotnet/global.json
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"
      - uses: actions/setup-node@v4
        with:
          node-version: "22.14.0"
          check-latest: true
      - run: chmod +x ./build.sh
      - run: ./build.sh BuildPackAll
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: .nuke/temp/output
          if-no-files-found: warn
